*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

nav{
  background-color: rgba(218,227,253,0.6);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
  align-content: center;
  padding: 10px 25px;
  font-weight: 500;
}

nav img {
  width: 70px;
  transition: transform 0.3s ease;
}

nav img:hover {
  transform: scale(1.15); 
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: color  0.3s ease-in-out;
}

nav a:hover{
  color: rgb(23, 20, 215);
}

nav li:first-child{
  margin-right: auto;
}

nav li:last-child{
  margin-left: auto;
}

.logIn-btn{
  border: 2px solid #313BA0;
  border-radius: 50px;
  font-weight: 600;
  color: #313BA0;
  transition: all 0.3s ease;
}
