body{
  min-height: 100vh;
}

nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--primary-light);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
  align-content: center;
  padding: 10px 25px;
  font-weight: 500;
  z-index: 1000;
}

nav img {
  width: 70px;
  transition: var(--transition);
}

nav img:hover {
  transform: scale(1.15); 
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: var(--transition);
}

nav a:hover{
  color: var(--accent-color);
}

nav li:first-child{
  margin-right: auto;
}

nav li:last-child{
  margin-left: auto;
}

.logIn-btn{
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  font-weight: 600;
  color: var(--accent-color);
  transition: var(--transition);
}
.logIn-btn:hover {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0 8px 20px rgba(42,63,232,0.28);
  transform: translateY(-2px);
}

.center-links {
  display: flex;
  justify-content: center;
}

.right-links {
  margin-left: auto;
}

.sidebar{
  position: fixed;
  padding: 20px 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgba(218,227,253,0.95);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.sidebar li:last-child {
  margin-left: 0;
}

.menu-button{
  display: none;
}

.center-links a {
  position: relative;
  font-size: 17px;
}

.center-links a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--accent-color);
  transition: var(--transition);
}

.center-links a:hover::after {
  width: 50%;
}

.sidebar li:nth-child(n+2):nth-child(-n+4) a {
  position: relative;
}

.sidebar li:nth-child(n+2):nth-child(-n+4) a::after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -1px;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--accent-color);
  transition: var(--transition);
}

.sidebar li:nth-child(n+2):nth-child(-n+4) a:hover::after {
  width: 20%;
}

.logIn-btn-mobile{
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  font-weight: 600;
  color: var(--accent-color);
  transition: var(--transition);
  max-width: 120px;
  margin-left: 25px;
}

.logIn-btn-mobile:hover {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0 8px 20px rgba(42,63,232,0.28);
  transform: translateY(-2px); 
}

@media(max-width: 800px){
  .center-links {
    display: none;
  }
  .right-links {
    margin-left: 0;
  }
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 500px){
  .sidebar{
    width: 100%;
  }
} 

@media(max-width: 500px){
  .sidebar li:nth-child(n+2):nth-child(-n+4) a:hover::after {
    width: 0%;
  }
}