#form {
  width: 350px;
  margin: 10vh auto 0 auto;
  padding: 20px 35px;
  background-color: whitesmoke;
  border-radius: 15px;
  font-size: 13px;
}

#form h1 {
  color: #2731b3;
  text-align: center;
}


#form button {
  padding: 13px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 20px;
  transition: all 0.25s ease;
  cursor: pointer;
}

#form button:hover {
  background: #3d5be0; 
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
	border-radius: 10px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.input-control label {
  padding-bottom: 5px;
}

p{
  text-align: center;
  padding-top: 5px;
}

a{
  text-decoration: none;
  color: #364be9;
}