<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="logo.png" alt="FlexDrive Logo">
      <p>Freedom to Move, Confidence to Go</p>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-contact">
      <h2>Contact us</h2>
      <p>📞 +383 45 111 222</p>
      <p>📩 info@flexdrive.com</p>
    </div>

    <div class="footer-address">
        <h2>Address</h2>
        <p>📍 Magj. Prishtinë - Ferizaj, Çagllavicë 10000</p>
        <div class="footer-social">
          <a href="#"><img src="socials/instagram.png"></a>
          <a href="#"><img src="socials/facebook.png"></a>
          <a href="#"><img src="socials/tiktok.png"></a>
          <a href="#"><img src="socials/twitter.png"></a>
        </div>
    </div>
  </div>

  <div class="footer-bottom">
    © Copyright 2025 FlexDrive, All Right Reserved
  </div>
</footer>
