<header id="site-header">
  <nav>
    <!-- sidebar -->
    <ul class="sidebar">
      <li onclick=hideSidebar() class="hide-sidebar">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
          </svg>
        </a>
      </li>
      <li><a href="index.html">Home</a></li>
      <li><a href="about-us.html">Abous us</a></li>
      <li><a href="contact-us.html">Contact us</a></li>
      <li><a href="log-in.html"class="logIn-btn-mobile" >Log In</a></li>
    </ul>
     
    <!-- desktop navbar -->
    <ul>
      <li> 
        <a href="#" class="logo">
          <img src="../website-logo/flexdrive-logo.png" alt="FlexDrive Logo">
        </a>
      </li>
        
      <div class="center-links">
        <li class="hideOnMobile"><a href="index.html">Home</a></li>
        <li class="hideOnMobile"><a href="about-us.html">About us</a></li>
        <li class="hideOnMobile"><a href="contact-us.html">Contact us</a></li>
      </div>
      
      <div class="right-links">
        <li class="hideOnMobile"><a href="log-in.html" class="logIn-btn">Log In</a></li>
        <li class="menu-button" onclick=showSidebar()>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
              <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
          </a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<!-- script for sidebar -->
<script src="../js/sidebar.js"></script>